Repository code4romania/onghub, pull requests merged in 2022-07, with the labels that each got.

#11 feat: [C4R-202] created App entity and endpoints
  backend/src/app.module.ts
  backend/src/migrations/1656675715670-ApplicationTypesSeed.ts
  backend/src/migrations/seed/application-types.seed.ts
  backend/src/modules/application/application.controller.ts
  backend/src/modules/application/application.module.ts
  backend/src/modules/application/constants/application-error.constants.ts
  backend/src/modules/application/dto/create-application.dto.ts
  backend/src/modules/application/dto/update-application.dto.ts
  backend/src/modules/application/entities/application.entity.ts
  backend/src/modules/application/repositories/application.repository.ts
  backend/src/modules/application/services/application.service.ts
  backend/src/shared/entities/application-type.entity.ts
  backend/src/shared/entities/index.ts
  backend/src/shared/services/nomenclatures.service.ts
  backend/src/shared/shared.module.ts
Labels: back-end, enhancement :rocket:

#13 feat: [C4R-258] made App editable
  backend/src/modules/application/application.controller.ts
  backend/src/modules/application/services/application.service.ts
Labels: back-end, enhancement :rocket:

#14 feat: [C4R-185] ANAF service
  backend/package-lock.json
  backend/package.json
  backend/src/common/constants/anaf.constants.ts
  backend/src/shared/interfaces/anaf.interface.ts
  backend/src/shared/services/anaf.service.ts
  backend/src/shared/services/index.ts
  backend/src/shared/shared.module.ts
Labels: back-end, enhancement :rocket:

#15 Feature/c4 r 81 - User Management
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/common/base/base-dao.class.ts
  backend/src/common/base/base-filter.dto.ts
  backend/src/common/decorators/roles.decorator.ts
  backend/src/common/enums/order-direction.enum.ts
  backend/src/common/interfaces/pagination-config.ts
  backend/src/modules/user/constants/user-filters.config.ts
  backend/src/modules/user/dto/create-user.dto.ts
  backend/src/modules/user/dto/update-user.dto.ts
  backend/src/modules/user/dto/user-filter.dto.ts
  backend/src/modules/user/entities/user.entity.ts
  backend/src/modules/user/enums/role.enum.ts
  backend/src/modules/user/enums/user-status.enum.ts
  backend/src/modules/user/repositories/user.repository.ts
  backend/src/modules/user/services/user.service.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.module.ts
Labels: back-end, enhancement :rocket:

#18 feat: [C4R-270] added Domain migration and endpoint
  backend/src/migrations/1657199669928-DomainsSeed.ts
  backend/src/migrations/seed/domains.seed.ts
  backend/src/shared/controllers/nomenclatures.controller.ts
Labels: back-end, enhancement :rocket:

#16 refactor: fixed some DTO validations
  backend/src/modules/organization/dto/create-organization-general.dto.ts
  backend/src/modules/organization/dto/create-organization-report.dto.ts
Labels: back-end

#20 feat: [C4R-275] added city search endpoint
  backend/src/shared/controllers/nomenclatures.controller.ts
  backend/src/shared/dto/city-search.dto.ts
  backend/src/shared/services/nomenclatures.service.ts
Labels: back-end, enhancement :rocket:

#19 feat: [C4R-269] added region entity & connections
  backend/src/migrations/1657272929004-RegionsSeed.ts
  backend/src/migrations/seed/regions.seed.ts
  backend/src/modules/organization/constants/errors.constants.ts
  backend/src/modules/organization/dto/create-organization-activity.dto.ts
  backend/src/modules/organization/entities/organization-activity.entity.ts
  backend/src/modules/organization/enums/organization-area.enum.ts
  backend/src/modules/organization/mocks/organization.mock.ts
  backend/src/modules/organization/services/organization-activity.service.ts
  backend/src/modules/organization/services/organization-financial.service.ts
  backend/src/modules/organization/services/organization.service.ts
  backend/src/shared/controllers/nomenclatures.controller.ts
  backend/src/shared/entities/application-type.entity.ts
  backend/src/shared/entities/area.entity.ts
  backend/src/shared/entities/index.ts
  backend/src/shared/entities/region.entity.ts
  backend/src/shared/services/nomenclatures.service.ts
  backend/src/shared/shared.module.ts
Labels: back-end, enhancement :rocket:

#23 feat: [C4R-277] added Federations and Coalitions
  backend/src/migrations/1657631001018-FederationsCoalitionsSeed.ts
  backend/src/migrations/seed/coalitions.seed.ts
  backend/src/migrations/seed/federations.seed.ts
  backend/src/modules/organization/dto/create-organization-activity.dto.ts
  backend/src/modules/organization/entities/organization-activity.entity.ts
  backend/src/modules/organization/mocks/organization.mock.ts
  backend/src/modules/organization/services/organization-activity.service.ts
  backend/src/modules/organization/services/organization.service.ts
  backend/src/shared/entities/coalition.entity.ts
  backend/src/shared/entities/federation.entity.ts
  backend/src/shared/entities/index.ts
  backend/src/shared/services/nomenclatures.service.ts
  backend/src/shared/shared.module.ts
Labels: back-end, enhancement :rocket:

#32 feat: [C4R-325] add authentication loader, store selector, queries an…
  frontend/src/App.tsx
  frontend/src/AuthProvider.tsx
  frontend/src/common/interfaces/user.interface.ts
  frontend/src/containers/Layout.tsx
  frontend/src/services/user/User.queries.ts
  frontend/src/services/user/User.service.ts
  frontend/src/store/selectors.ts
  frontend/src/store/store.ts
  frontend/src/store/user/User.selectors.ts
  frontend/src/store/user/User.slice.ts
Labels: enhancement :rocket:

#28 feat: [C4R-282] organization report updates
  backend/src/modules/organization/dto/create-organization-report.dto.ts
  backend/src/modules/organization/dto/create-organization.dto.ts
  backend/src/modules/organization/dto/investor.dto.ts
  backend/src/modules/organization/dto/report.dto.ts
  backend/src/modules/organization/dto/update-organization-report.dto.ts
  backend/src/modules/organization/entities/index.ts
  backend/src/modules/organization/entities/investor.entity.ts
  backend/src/modules/organization/entities/organization-report.entity.ts
  backend/src/modules/organization/entities/partner.entity.ts
  backend/src/modules/organization/entities/report.entity.ts
  backend/src/modules/organization/mocks/organization.mock.ts
  backend/src/modules/organization/organization.controller.ts
  backend/src/modules/organization/organization.module.ts
  backend/src/modules/organization/services/index.ts
  backend/src/modules/organization/services/investor.service.ts
  backend/src/modules/organization/services/organization-report.service.ts
  backend/src/modules/organization/services/organization.service.ts
  backend/src/modules/organization/services/partner.service.ts
  backend/src/modules/organization/services/report.service.ts
Labels: back-end, bug :bug:, enhancement :rocket:

#29 feat: [C4R-295] create user organization check
  backend/src/modules/organization/organization.module.ts
  backend/src/modules/user/constants/user-error.constants.ts
  backend/src/modules/user/services/user.service.ts
  backend/src/modules/user/user.module.ts
Labels: back-end
