Repository code4romania/onghub, pull requests merged in 2022-11, with the labels that each got.

#137 feat: [C4R-917] feedback entity addition and CRUD
  backend/src/app.module.ts
  backend/src/common/base/base-dao.class.ts
  backend/src/modules/civic-center-service/civic-center.module.ts
  backend/src/modules/civic-center-service/constants/errors.constants.ts
  backend/src/modules/civic-center-service/constants/feedback-filters.config.ts
  backend/src/modules/civic-center-service/controllers/civic-center.controller.ts
  backend/src/modules/civic-center-service/controllers/feedback.controller.ts
  backend/src/modules/civic-center-service/dto/civic-center-service-filter.dto.ts
  backend/src/modules/civic-center-service/dto/create-civic-center-service.dto.ts
  backend/src/modules/civic-center-service/dto/create-feedback.dto.ts
  backend/src/modules/civic-center-service/dto/update-civic-center-service.dto.ts
  backend/src/modules/civic-center-service/entities/civic-center-service.entity.ts
  backend/src/modules/civic-center-service/entities/feedback.entity.ts
  backend/src/modules/civic-center-service/repositories/civic-center-service.repository.ts
  backend/src/modules/civic-center-service/repositories/feedback.repository.ts
  backend/src/modules/civic-center-service/services/civic-center.service.ts
  backend/src/modules/civic-center-service/services/feedback.service.ts
  backend/src/modules/organization/entities/organization.entity.ts
  backend/src/modules/practice-program/constants/errors.constants.ts
  backend/src/modules/practice-program/practice-program.module.ts
Labels: back-end, enhancement :rocket:

#142 C4R-852 WYSIWYG
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/RichText/RichText.css
  frontend/src/components/RichText/RichText.tsx
  frontend/src/components/RichText/RichTextConfig.interface.ts
  frontend/src/index.css
  frontend/src/pages/application/components/ApplicationDetails.tsx
Labels: enhancement :rocket:

#138 feat: [C4R-920] added feedback tab with pagination
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/router/Router.tsx
  frontend/src/common/router/Routes.constants.ts
  frontend/src/pages/civic-center-service/CivicCenterServices.tsx
  frontend/src/pages/civic-center-service/components/ccservice/ServiceList.tsx
  frontend/src/pages/civic-center-service/components/feedback/FeedbackList.tsx
  frontend/src/pages/civic-center-service/components/feedback/components/FeedbackViewModal.tsx
  frontend/src/pages/civic-center-service/components/feedback/table-headers/FeedbackListTable.headers.tsx
  frontend/src/pages/civic-center-service/constants/Tabs.constants.ts
  frontend/src/pages/civic-center-service/interfaces/Feedback.interface.ts
  frontend/src/services/civic-center-service/CivicCenterService.queries.ts
  frontend/src/services/civic-center-service/CivicCenterService.service.ts
  frontend/src/store/civic-center-service/CivicCenterService.selectors.ts
  frontend/src/store/civic-center-service/Feedback.slice.ts
  frontend/src/store/selectors.ts
  frontend/src/store/store.ts
Labels: enhancement :rocket:, front-end

#144 fix: [C4R-431] person of contact duplicated in create organization
  backend/src/modules/organization/dto/create-organization-request.dto.ts
  backend/src/modules/organization/services/organization-request.service.ts
  backend/src/modules/organization/services/organization.service.ts
  frontend/src/pages/create-organziation/components/CreateOrganizationGeneral.tsx
Labels: back-end, front-end

#145 fix: [C4R-513] format phone number for RO
  backend/src/common/decorators/validation.decorator.ts
  backend/src/modules/user/services/user.service.ts
Labels: back-end

#146 fix: [C4R-478] disabled year, cui and raf fields
  frontend/src/components/Select/Select.tsx
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
  frontend/src/pages/requests/components/Request.tsx
Labels: front-end

#148 fix: [C4R-813] user table gets all users on ong overview
  backend/src/modules/user/admin-user.controller.ts
  frontend/src/pages/organization/components/Overview/OrganizationOverview.tsx
  frontend/src/pages/users/components/UserList/UserList.tsx
  frontend/src/services/user/User.queries.ts
  frontend/src/services/user/User.service.ts
Labels: back-end

#149 fix: [C4R-697] fixed ong user count
  backend/src/modules/organization/entities/organization-view.entity.ts
  backend/src/modules/statistics/services/statistics.service.ts
Labels: back-end

#147 fix: [C4R-837] removed request and delete app button for employee
  frontend/src/pages/application/components/ApplicationDetails.tsx
Labels: enhancement :rocket:, front-end

#159 [C4R-807] Fix Create NGO Error message
  frontend/src/assets/locales/ro/translation.json
Labels: bug :bug:

#158 feat: [C4R-818] removed hmac
  backend/src/modules/_publicAPI/controllers/public-api.controller.ts
Labels: back-end, enhancement :rocket:

#152 fix: [C4R-830] fix cache time for user edit queries that made the acc…
  backend/src/modules/application/services/application.service.ts
  frontend/src/pages/application/Application.tsx
  frontend/src/pages/users/components/ApplicationAccessManagement.tsx
  frontend/src/services/application/Application.queries.ts
Labels: bug :bug:

#163 fix: [C4R-803] page freezing on user invite
  frontend/src/pages/users/components/UserCreate/UserCreate.tsx
Labels: front-end

#162 feat: [C4R-909] updated mail subject
  backend/src/modules/_publicAPI/controllers/public-api.controller.ts
  backend/src/modules/_publicAPI/dto/contact-mail.dto.ts
Labels: back-end, enhancement :rocket:

#157 feat: [C4R-816] added feedback mail throttle
  backend/src/modules/_publicAPI/controllers/public-api.controller.ts
Labels: back-end, enhancement :rocket:

#170 fix: [C4R-830] fix independent apps on this bug
  backend/src/modules/application/services/application.service.ts
Labels: bug :bug:

#168 fix: [C4R-669] org logo missing from request table
  backend/src/modules/organization/entities/organization-request.entity.ts
  backend/src/modules/organization/services/organization-request.service.ts
  frontend/src/pages/requests/components/RequestList.headers.tsx
  frontend/src/pages/requests/interfaces/Request.interface.ts
Labels: back-end, bug :bug:, front-end

#169 fix: [C4R-922] application steps are now optional
  backend/src/modules/application/dto/create-application.dto.ts
  backend/src/modules/application/entities/application-history.entity.ts
  backend/src/modules/application/entities/application.entity.ts
  frontend/src/pages/apps-store/components/AddApplicationConfig.ts
  frontend/src/pages/apps-store/components/ApplicationForm.tsx
Labels: back-end, bug :bug:, front-end

#174 fix: [C4R-838] missing success toast on app removal
  frontend/src/assets/locales/ro/translation.json
  frontend/src/pages/application/components/ApplicationDetails.tsx
  frontend/src/pages/apps-store/components/ApplicationListTable.tsx
Labels: bug :bug:, front-end

#175 fix: [C4R-859] removed informations option from sidemenu
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/menu/Menu.tsx
Labels: bug :bug:, front-end

#176 fix: [C4R-874] reset filters button would not reset date
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/data-table-filters/DataTableFilters.tsx
  frontend/src/components/date-range-picker/DateRangePicker.tsx
  frontend/src/pages/organization/Organizations.tsx
  frontend/src/pages/users/components/UserInvites/UserInvites.tsx
  frontend/src/pages/users/components/UserList/UserList.tsx
Labels: bug :bug:, front-end

#177 fix: [C4R-973] API not sending civic service short description
  backend/src/modules/civic-center-service/services/civic-center.service.ts
Labels: back-end, bug :bug:

#178 fix: [C4R-976] missing logo for ONG
  backend/src/modules/organization/constants/organization-filter.config.ts
Labels: back-end, bug :bug:

#179 feature: [C4R-900] redirect from ONG hub to P4G website to view one program
  frontend/src/pages/pactice-program/components/PracticeProgramActions.tsx
Labels: enhancement :rocket:, front-end

#180 feat: [C4R-966] redirect from ONG hub to CC website to view one service
  frontend/src/pages/civic-center-service/components/CivicCenterServiceActions.tsx
Labels: enhancement :rocket:, front-end

#171 fix: [C4R-745, C4R-486, C4R-484, C4R-476] invalid files could be uploaded
  backend/src/modules/application/constants/application-error.constants.ts
  backend/src/modules/application/services/application.service.ts
  backend/src/modules/organization/services/organization-general.service.ts
  backend/src/modules/organization/services/organization-legal.service.ts
  backend/src/modules/organization/services/organization-report.service.ts
  backend/src/modules/organization/services/organization-request.service.ts
  backend/src/modules/organization/services/organization.service.ts
  backend/src/shared/constants/file-errors.constants.ts
  backend/src/shared/constants/file.constants.ts
  backend/src/shared/enum/FileType.enum.ts
  backend/src/shared/services/file-manager.service.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/error.constants.ts
  frontend/src/pages/apps-store/components/AddApplication.tsx
  frontend/src/pages/create-organziation/CreateOrganization.tsx
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegal.tsx
Labels: back-end, bug :bug:, front-end

#183 fix: [C4R-859] removed informations option from menu
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/menu/SlidingMenu.tsx
Labels: bug :bug:, front-end

#181 fix: [C4F-803] forgot to add the freezing page fix to user edit
  frontend/src/pages/users/components/UserEdit/UserEdit.tsx
Labels: bug :bug:, front-end

#184 fix: [C4R-451] change format for cities
  backend/src/modules/organization/services/organization-activity.service.ts
  backend/src/modules/organization/services/organization.service.ts
  frontend/src/common/helpers/format.helper.ts
  frontend/src/store/organization/organization-activity.slice.ts
Labels: bug :bug:

#161 C4R-702 - Status Pending Apps in NGO Profile - > Apps
  backend/src/modules/application/services/application.service.ts
Labels: bug :bug:

#188 fix: [C4R-1037] added check for files existence
  backend/src/shared/services/file-manager.service.ts
Labels: back-end, bug :bug:

#193 fix: [C4R-484] missing error on file too large
  backend/src/shared/services/file-manager.service.ts
Labels: back-end, bug :bug:, front-end

#194 fix: [C4R-958] wrong translation
  frontend/src/assets/locales/ro/translation.json
Labels: bug :bug:, front-end

#195 fix: [C4R-1008] validate phone number on step 1 of create org
  backend/src/modules/organization/services/organization-request.service.ts
Labels: back-end, bug :bug:

#197 fix: [C4R-999] wrong name length validation for request admin name
  backend/src/modules/organization/dto/create-organization-request.dto.ts
Labels: back-end, bug :bug:

#198 fix: [C4R-893] edit button displayed for super admin on user
  frontend/src/pages/users/components/UserList/UserList.tsx
Labels: bug :bug:, front-end

#200 fix: [C4R-954] no longer displaying data from the future
  backend/src/modules/statistics/entities/organization-status-statistics-view.entity.ts
  backend/src/modules/statistics/services/statistics.service.ts
Labels: back-end, bug :bug:

#191 fix: [C4R-878, C4R-922] fixed seturlprefix function
  backend/src/modules/application/dto/create-application.dto.ts
  frontend/src/common/helpers/format.helper.ts
  frontend/src/pages/application/components/ApplicationDetails.tsx
  frontend/src/pages/apps-store/components/EditApplication.tsx
  frontend/src/pages/civic-center-service/CreateCivicCenterService.tsx
  frontend/src/pages/civic-center-service/EditCivicCenterService.tsx
  frontend/src/pages/pactice-program/CreatePracticeProgram.tsx
  frontend/src/pages/pactice-program/EditPracticeProgram.tsx
Labels: back-end, bug :bug:, front-end

#196 fix: [C4R-980] number of active apps displaying all apps
  backend/src/modules/application/services/application.service.ts
  backend/src/modules/statistics/services/statistics.service.ts
Labels: back-end, bug :bug:

#201 feat: added ids to practice program creation form
  frontend/src/pages/pactice-program/components/PracticeProgramForm.tsx
Labels: enhancement :rocket:, front-end

#202 fix: [C4R-1078] skills and faculties would get saved in domains on PP creation
  backend/src/modules/practice-program/entities/practice-program.entity.ts
Labels: back-end, bug :bug:

#192 C4R-856 Action menu on table
  frontend/src/index.css
Labels: bug :bug:

#190 C4R-860 - Select Default values
  backend/src/modules/practice-program/services/practice-program.service.ts
  frontend/src/components/multi-select/MultiSelect.tsx
  frontend/src/components/server-select/ServerSelect.tsx
  frontend/src/pages/pactice-program/EditPracticeProgram.tsx
Labels: bug :bug:

#203 fix: [C4R-1102] add county relation to branches
  backend/src/modules/organization/services/organization-activity.service.ts
  backend/src/modules/organization/services/organization-request.service.ts
  backend/src/modules/organization/services/organization.service.ts
Labels: bug :bug:

#209 fix: [C4R-977] fix spacing on statistics cards
  frontend/src/components/extended-statistics-card/ExtendedStatisticsCard.tsx
Labels: bug :bug:

#208 fix: [C4R-1011] fix submit of the organization creation
  frontend/src/pages/create-organziation/CreateOrganization.tsx
Labels: bug :bug:

#206 fix: [C4R-989] add error for year created field
  frontend/src/pages/create-organziation/components/CreateOrganizationGeneral.tsx
Labels: bug :bug:

#212 fix: [C4R-1091] add navigation on logo click
  frontend/src/components/Header/Header.tsx
Labels: bug :bug:
