Repository code4romania/onghub, pull requests merged in 2022-10, with the labels that each got.

#100 feat: [C4R-198] restrict NGO
  backend/src/mail/constants/errors.constants.ts
  backend/src/mail/enums/mail.enum.ts
  backend/src/mail/templates/delete-organization-admin.hbs
  backend/src/mail/templates/restrict-organization-admin.hbs
  backend/src/mail/templates/restrict-organization-super.hbs
  backend/src/modules/authentication/jwt.strategy.ts
  backend/src/modules/organization/constants/errors.constants.ts
  backend/src/modules/organization/controllers/organization-profile.controller.ts
  backend/src/modules/organization/controllers/organization.controller.ts
  backend/src/modules/organization/services/organization-request.service.ts
  backend/src/modules/organization/services/organization.service.ts
  backend/src/modules/user/constants/user-error.constants.ts
  frontend/src/AuthProvider.tsx
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/error.constants.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/index.css
  frontend/src/pages/organization/OrganizationProfile.tsx
  frontend/src/pages/organization/Organizations.tsx
  frontend/src/pages/restricted-account/RestrictedAccount.tsx
  frontend/src/pages/users/interfaces/User.interface.ts
  frontend/src/services/organization/Organization.queries.ts
  frontend/src/services/organization/Organization.service.ts
Labels: back-end, enhancement :rocket:, front-end

#103 feat: [C4R-709] sync organization on financial/data updates
  backend/src/modules/organization/services/organization.service.ts
Labels: back-end, enhancement :rocket:

#101 fix: [C4R-694] & [C4R-695] fixed button issues
  frontend/src/pages/account/Account.tsx
  frontend/src/pages/application/Application.tsx
Labels: front-end

#104 feat: [C4R-95] Export user list
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/users/components/UserList/UserList.tsx
Labels: enhancement :rocket:, front-end

#107 fix: several bugs fixed (too many to mention in title)
  backend/src/modules/application/dto/create-application.dto.ts
  backend/src/shared/constants/file.constants.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/data-table-filters/DataTableFilters.tsx
  frontend/src/pages/apps-store/components/AddApplicationConfig.ts
  frontend/src/pages/apps-store/components/ApplicationForm.tsx
  frontend/src/pages/create-organziation/configs/CreateOrganizationUserConfig.ts
  frontend/src/pages/requests/components/Request.tsx
  frontend/src/pages/requests/components/RequestList.headers.tsx
  frontend/src/pages/users/constants/filters.constants.ts
Labels: back-end, front-end

#109 [C4R-199] Dashboarding
  backend/src/app.module.ts
  backend/src/common/base/base-dao.class.ts
  backend/src/modules/application/services/application.service.ts
  backend/src/modules/organization/constants/values.constants.ts
  backend/src/modules/organization/entities/organization.entity.ts
  backend/src/modules/organization/organization.module.ts
  backend/src/modules/organization/repositories/organization-request.repository.ts
  backend/src/modules/organization/services/organization-request.service.ts
  backend/src/modules/organization/services/organization.service.ts
  backend/src/modules/statistics/constants/error.constants.ts
  backend/src/modules/statistics/controllers/statistics.controller.ts
  backend/src/modules/statistics/dto/statistics-filter.dto.ts
  backend/src/modules/statistics/entities/organization-status-statistics-view.entity.ts
  backend/src/modules/statistics/enums/organization-statistics-type.enum.ts
  backend/src/modules/statistics/interfaces/organization-statistics.interface.ts
  backend/src/modules/statistics/repositories/organization-status-statistics-view.repository.ts
  backend/src/modules/statistics/services/statistics.service.ts
  backend/src/modules/statistics/statistics.module.ts
  backend/src/modules/user/services/user.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/router/Router.tsx
  frontend/src/components/extended-statistics-card/ExtendedStatisticsCard.tsx
  frontend/src/components/line-chart/LineChart.tsx
  frontend/src/components/line-chart/chart.config.ts
  frontend/src/components/statistics-card/StatisticsCard.tsx
  frontend/src/pages/dashboard/Dashboard.tsx
  frontend/src/pages/dashboard/SuperAdminDashboard.tsx
  frontend/src/pages/dashboard/components/OrganizationsLIneChart.tsx
  frontend/src/pages/dashboard/components/RequestsLineChart.tsx
  frontend/src/pages/dashboard/components/StatisticsErrorBanner.tsx
  frontend/src/pages/dashboard/constants/DashboardStatistics.constants.ts
  frontend/src/pages/organization/components/Overview/OrganizationOverview.tsx
  frontend/src/pages/organization/interfaces/OrganizationStatistics.interface.ts
  frontend/src/services/statistics/statistics.queries.ts
  frontend/src/services/statistics/statistics.service.ts
Labels: enhancement :rocket:

#117 feat: [C4R-718] remove application
  backend/src/common/base/base-dao.class.ts
  backend/src/modules/application/constants/application-error.constants.ts
  backend/src/modules/application/services/application.service.ts
  backend/src/modules/application/services/ong-application.service.ts
  backend/src/modules/application/services/user-ong-application.service.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/pages/apps-store/components/ApplicationListTable.tsx
  frontend/src/services/application/Application.queries.ts
  frontend/src/services/application/Application.service.ts
Labels: back-end, enhancement :rocket:, front-end

#112 fix: multitude of fixes
  backend/package-lock.json
  backend/src/common/helpers/validate-phone.rule.ts
  backend/src/modules/organization/constants/errors.constants.ts
  backend/src/modules/organization/entities/organization-general.entity.ts
  backend/src/modules/organization/services/organization-request.service.ts
  backend/src/modules/organization/services/organization.service.ts
  backend/src/modules/user/constants/user-error.constants.ts
  backend/src/modules/user/profile.controller.ts
  backend/src/modules/user/services/user.service.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/hooks/useToast.tsx
  frontend/src/common/router/Routes.constants.ts
  frontend/src/pages/create-organziation/configs/CreateOrganizationUserConfig.ts
  frontend/src/pages/create-organziation/constants/CreateOrganizationErrors.constant.ts
  frontend/src/pages/my-apps/components/ApplicationCard.tsx
  frontend/src/pages/users/components/UserCreate/UserCreate.tsx
  frontend/src/pages/users/components/UserEdit/UserEdit.tsx
  frontend/src/pages/users/components/UserList/UserList.tsx
  frontend/src/pages/users/constants/error.constants.ts
  frontend/src/services/user/User.service.ts
Labels: back-end, front-end

#118 feat: added a shell script to backup remote db and restore into local db
  backend/docs/database-script.sh
Labels: back-end, documentation, enhancement :rocket:

#122 Bugfix[C4R-452] Invalid data organization activity
  backend/src/modules/organization/controllers/organization-profile.controller.ts
  frontend/src/pages/create-organziation/CreateOrganization.tsx
  frontend/src/pages/create-organziation/components/CreateOrganizationActivity.tsx
  frontend/src/pages/organization/components/OrganizationActivity/OrganizationActivity.tsx
  frontend/src/pages/organization/components/OrganizationActivity/OrganizationActivityConfig.ts
Labels: back-end, bug :bug:, front-end

#128 Feature[C4R-771] Search Practice Programs
  backend/src/common/base/base-dao.class.ts
  backend/src/common/interfaces/pagination-config.ts
  backend/src/migrations/seed/faculties.seed.ts
  backend/src/migrations/seed/skills.seed.ts
  backend/src/modules/organization/entities/organization.entity.ts
  backend/src/modules/practice-program/constants/errors.constants.ts
  backend/src/modules/practice-program/constants/parsers.constants.ts
  backend/src/modules/practice-program/constants/practice-program-filter.config.ts
  backend/src/modules/practice-program/controllers/practice-program.controller.ts
  backend/src/modules/practice-program/dto/create-practice-program.dto.ts
  backend/src/modules/practice-program/dto/practice-program-filter.dto.ts
  backend/src/modules/practice-program/entities/practice-program.entity.ts
  backend/src/modules/practice-program/services/practice-program.service.ts
  backend/src/shared/controllers/nomenclatures.controller.ts
  backend/src/shared/dto/faculty-search.dto.ts
Labels: back-end, enhancement :rocket:

#121 feat: [C4R-775] added hover to app name and short description
  backend/docs/database-script.sh
  frontend/package-lock.json
  frontend/src/common/router/Router.tsx
  frontend/src/containers/Layout.tsx
  frontend/src/index.css
  frontend/src/pages/application/ApplicationWithOngList.tsx
  frontend/src/pages/application/constants/ApplicationTabs.tsx
  frontend/src/pages/apps-store/AllApplications.tsx
  frontend/src/pages/apps-store/components/AddApplication.tsx
  frontend/src/pages/apps-store/constants/ApplicationStoreTabs.constant.ts
  frontend/src/pages/create-organziation/CreateOrganization.tsx
  frontend/src/pages/my-apps/components/ApplicationCard.tsx
  frontend/src/pages/organization/Organization.tsx
  frontend/src/pages/organization/OrganizationProfile.tsx
  frontend/src/pages/requests/components/Request.tsx
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/users/constants/Tabs.constants.ts
Labels: enhancement :rocket:, front-end

#133 Feature[C4R-792] Update Practice program
  backend/src/modules/practice-program/controllers/practice-program.controller.ts
  backend/src/modules/practice-program/dto/create-practice-program.dto.ts
  backend/src/modules/practice-program/services/practice-program.service.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/router/Router.tsx
  frontend/src/pages/pactice-program/CreatePracticeProgram.tsx
  frontend/src/pages/pactice-program/EditPracticeProgram.tsx
  frontend/src/pages/pactice-program/components/PracticeProgramForm.tsx
  frontend/src/services/practice-program/PracticeProgram.helper.ts
  frontend/src/services/practice-program/PracticeProgram.queries.ts
  frontend/src/services/practice-program/PracticeProgram.service.ts
  frontend/src/services/practice-program/interfaces/practice-program-payload.interface.ts
Labels: back-end, enhancement :rocket:, front-end

#130 feat: [C4R-817] public send mail function
  backend/src/mail/services/mail.service.ts
  backend/src/modules/_publicAPI/dto/contact-mail.dto.ts
  backend/src/modules/_publicAPI/public-api.controller.ts
Labels: back-end, enhancement :rocket:
