Repository code4romania/onghub, pull requests merged in 2022-09, with the labels that each got.

#75 Feature[C4R-216] Application Requests
  backend/src/modules/application/application.controller.ts
  backend/src/modules/application/application.module.ts
  backend/src/modules/application/constants/application-error.constants.ts
  backend/src/modules/application/entities/ong-application.entity.ts
  backend/src/modules/application/enums/ong-application-status.enum.ts
  backend/src/modules/application/repositories/ong-application.repository.ts
  backend/src/modules/application/services/ong-application.service.ts
  backend/src/modules/requests/constants/request-filters.config.ts
  backend/src/modules/requests/constants/requests-errors.constants.ts
  backend/src/modules/requests/dto/create-application-request.dto.ts
  backend/src/modules/requests/entities/request.entity.ts
  backend/src/modules/requests/enums/request-type.enum.ts
  backend/src/modules/requests/requests.controller.ts
  backend/src/modules/requests/requests.module.ts
  backend/src/modules/requests/services/requests.service.ts
Labels: back-end, enhancement :rocket:

#74 feat: [C4R-458] add role guard
  frontend/src/common/guards/RoleGuard.tsx
  frontend/src/common/router/Router.tsx
Labels: enhancement :rocket:

#79 feat: [C4R-583] added route guards
  frontend/src/common/router/Router.tsx
  frontend/src/common/router/Routes.constants.ts
  frontend/src/pages/apps-store/components/AddApplication.tsx
  frontend/src/pages/users/Users.tsx
Labels: enhancement :rocket:

#81 feat: [C4R-623] add "indisponibil" ribbon
  frontend/src/index.css
  frontend/src/pages/application/components/ApplicationDetails.tsx
  frontend/src/pages/my-apps/components/ApplicationCard.tsx
  frontend/src/pages/requests/interfaces/OngApplication.interface.ts
Labels: enhancement :rocket:

#77 C4R-560 - Edit Organization Request
  frontend/src/pages/organization/Organization.tsx
  frontend/src/pages/organization/components/OrganizationActivity/OrganizationActivity.tsx
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegal.tsx
  frontend/src/pages/organization/constants/location.constants.ts
Labels: enhancement :rocket:

#91 fix [C4R-665]: fixed request approval and rejection text
  frontend/src/pages/requests/constants/Request.modals.ts
Labels: front-end

#88 fix: [C4R-452] certain fields could be skipped in step 3 of create org
  frontend/src/pages/create-organziation/CreateOrganization.tsx
  frontend/src/pages/organization/components/OrganizationActivity/OrganizationActivityConfig.ts
Labels: front-end

#83 feat: [C4R-612] Email Notifications
  backend/.env.example
  backend/nest-cli.json
  backend/package-lock.json
  backend/src/common/config/email-config.service.ts
  backend/src/env.validation.ts
  backend/src/mail/enums/mail.enum.ts
  backend/src/mail/mail.module.ts
  backend/src/mail/services/mail.service.ts
  backend/src/mail/templates/create-organization-admin.hbs
  backend/src/mail/templates/create-organization-super.hbs
  backend/src/mail/templates/delete-organization-admin.hbs
  backend/src/mail/templates/delete-organization-super.hbs
  backend/src/mail/templates/profile-creation-approval.hbs
  backend/src/mail/templates/profile-creation-rejection.hbs
  backend/src/modules/organization/services/organization-request.service.ts
  backend/src/modules/user/services/user.service.ts
Labels: back-end, enhancement :rocket:

#85 feat: [C4R-634] Added ids to Create Organization Input fields
  frontend/src/components/Contact/Contact.tsx
  frontend/src/components/InputField/InputField.tsx
  frontend/src/components/InputField/InputFieldConfig.interface.ts
  frontend/src/components/RadioButton/RadioButton.tsx
  frontend/src/components/RadioButton/RadioButtonConfig.interface.ts
  frontend/src/components/RadioGroup/RadioGroup.tsx
  frontend/src/components/Select/Select.tsx
  frontend/src/components/Textarea/Textarea.tsx
  frontend/src/components/Textarea/TextareaConfig.interface.ts
  frontend/src/components/chip-selection/ChipSelection.tsx
  frontend/src/components/multi-select/MultiSelect.tsx
  frontend/src/components/server-select/ServerSelect.tsx
  frontend/src/pages/create-organziation/CreateOrganization.tsx
  frontend/src/pages/create-organziation/components/CreateOrganizationActivity.tsx
  frontend/src/pages/create-organziation/components/CreateOrganizationGeneral.tsx
  frontend/src/pages/create-organziation/components/CreateOrganizationLegal.tsx
  frontend/src/pages/create-organziation/components/CreateOrganizationUser.tsx
  frontend/src/pages/organization/components/OrganizationActivity/OrganizationActivityConfig.ts
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneralConfig.ts
  frontend/src/pages/organization/components/OrganizationLegal/components/DirectorModal.tsx
  frontend/src/pages/organization/components/OrganizationLegal/components/OtherModal.tsx
Labels: enhancement :rocket:, front-end

#92 fix: C4R-634 fixed select used for counties and cities
  frontend/src/components/Select/Select.tsx
Labels: front-end

#94 fix: [C4R-671] added missing '/'
  frontend/src/pages/requests/components/Request.tsx
Labels: front-end

#93 refactor: [C4R-452] reverted changes to activity config
  frontend/src/pages/organization/components/OrganizationActivity/OrganizationActivityConfig.ts
Labels: bug :bug:, front-end

#89 feat [C4R-653]: added restrict organization API
  backend/src/modules/authentication/jwt.strategy.ts
  backend/src/modules/organization/constants/errors.constants.ts
  backend/src/modules/organization/controllers/organization.controller.ts
  backend/src/modules/organization/services/organization.service.ts
Labels: back-end, enhancement :rocket:

#99 feat: [C4R-118] Invited user list
  backend/src/modules/authentication/jwt.strategy.ts
  backend/src/modules/user/admin-user.controller.ts
  backend/src/modules/user/constants/invites-filters.config.ts
  backend/src/modules/user/enums/cognito-user-status.enum.ts
  backend/src/modules/user/services/cognito.service.ts
  backend/src/modules/user/services/user.service.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/pages/organization/components/OrganizationApplications/table-headers/OrganizationApplicationsTable.headers.tsx
  frontend/src/pages/organization/components/OrganizationData/table-headers/InvestorTable.headers.tsx
  frontend/src/pages/organization/components/OrganizationData/table-headers/PartnerTable.headers.tsx
  frontend/src/pages/organization/components/OrganizationData/table-headers/ReportsTable.headers.tsx
  frontend/src/pages/organization/components/OrganizationFinancial/OrganizationFinancialTableHeaders.tsx
  frontend/src/pages/users/components/UserInvites/UserInvites.tsx
  frontend/src/pages/users/components/UserInvites/table-headers/UserInvitesTable.headers.tsx
  frontend/src/pages/users/interfaces/Invite.interface.ts
  frontend/src/services/user/User.queries.ts
  frontend/src/services/user/User.service.ts
  frontend/src/store/store.ts
  frontend/src/store/user/Invites.slice.ts
  frontend/src/store/user/User.selectors.ts
Labels: back-end, enhancement :rocket:, front-end

#102 fix: C4R-698, C4R-696 removed 1st step back button
  frontend/src/pages/create-organziation/components/CreateOrganizationGeneral.tsx
Labels: enhancement :rocket:
