Repository code4romania/onghub, pull requests merged in 2022-12, with the labels that each got.

#216 ci: add backend build GitHub action
  .github/workflows/build-image.yml
Labels: back-end, devops

#217 ci: restrict backend build
  .github/workflows/build-image.yml
Labels: back-end, devops

#205 fix: [C4R-1012] reset filters not resetting date
  frontend/src/pages/apps-store/components/ApplicationRequests.tsx
  frontend/src/pages/requests/components/RequestList.tsx
Labels: bug :bug:, front-end

#204 fix: [C4R-483] wrong filter conditions when deleting director
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegal.tsx
Labels: bug :bug:, front-end

#207 fix: [C4R-669, C4R-1107] org request would not show logo
  backend/src/common/constants/patterns.constant.ts
  backend/src/modules/organization/constants/organization-filter.config.ts
  backend/src/modules/organization/entities/organization-request.entity.ts
  backend/src/modules/organization/services/organization-request.service.ts
  backend/src/modules/organization/services/organization.service.ts
  frontend/src/common/helpers/format.helper.ts
Labels: back-end, bug :bug:

#182 fix: [C4R-938, C4R-1009] filters not working properly on NGO apps tab
  backend/src/modules/application/controllers/application.controller.ts
  backend/src/modules/application/dto/organization-application.filters.dto.ts
  backend/src/modules/application/services/ong-application.service.ts
  frontend/src/pages/organization/components/OrganizationApplications/OrganizationApplicationsTable.tsx
  frontend/src/services/organization/Organization.queries.ts
  frontend/src/services/organization/Organization.service.ts
Labels: bug :bug:, front-end

#199 fix: [C4R-978, C4R-1087] buttons on admin/employee dashboard not working
  backend/src/modules/application/dto/organization-application.filters.dto.ts
  backend/src/modules/application/services/ong-application.service.ts
  frontend/src/pages/civic-center-service/components/CivicCenterServiceActions.tsx
  frontend/src/pages/dashboard/Dashboard.tsx
  frontend/src/pages/dashboard/constants/DashboardStatistics.constants.ts
  frontend/src/pages/organization/components/Overview/OrganizationOverview.tsx
  frontend/src/pages/pactice-program/components/PracticeProgramActions.tsx
Labels: bug :bug:, front-end

#215 fix: [C4R-955] cards not displayed properly in super admin dashboard
  frontend/src/components/line-chart/LineChart.tsx
  frontend/src/components/statistics-card/StatisticsCard.tsx
Labels: bug :bug:, front-end

#222 fix: [C4R-1089] disabled contact person fields
  frontend/src/components/Contact/Contact.tsx
  frontend/src/pages/organization/Organization.tsx
  frontend/src/pages/organization/OrganizationProfile.tsx
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
  frontend/src/pages/requests/components/Request.tsx
Labels: bug :bug:, front-end

#223 fix: [C4R-1068] deadline application date not being displayed
  frontend/src/common/helpers/format.helper.ts
  frontend/src/pages/pactice-program/components/PracticeProgramContent.tsx
Labels: bug :bug:, front-end

#220 fix: [C4R-1070] empty city field when county changes
  frontend/src/pages/create-organziation/components/CreateOrganizationGeneral.tsx
Labels: bug :bug:

#227 fix: [C4R-484] added specific size errors for logo and org statute
  backend/src/shared/constants/file-errors.constants.ts
  backend/src/shared/services/file-manager.service.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/error.constants.ts
Labels: back-end, bug :bug:, front-end

#226 fix: [C4R-980] fixed dashboard counter for number of active apps
  backend/src/modules/application/services/application.service.ts
  backend/src/modules/statistics/controllers/statistics.controller.ts
  backend/src/modules/statistics/services/statistics.service.ts
Labels: back-end, bug :bug:

#224 fix: [C4R-922] removed default steps for app creation
  frontend/src/assets/locales/ro/translation.json
  frontend/src/pages/apps-store/components/AddApplication.tsx
  frontend/src/pages/apps-store/components/AddApplicationConfig.ts
  frontend/src/pages/apps-store/components/ApplicationForm.tsx
  frontend/src/services/application/Application.service.ts
Labels: bug :bug:, front-end

#211 feat: [C4R-1030] export user list
  backend/package-lock.json
  backend/package.json
  backend/src/main.ts
  backend/src/modules/application/services/application.service.ts
  backend/src/modules/application/services/ong-application.service.ts
  backend/src/modules/organization/constants/errors.constants.ts
  backend/src/modules/organization/services/organization-general.service.ts
  backend/src/modules/organization/services/organization-legal.service.ts
  backend/src/modules/organization/services/organization-report.service.ts
  backend/src/modules/organization/services/organization-request.service.ts
  backend/src/modules/organization/services/organization.service.ts
  backend/src/modules/user/admin-user.controller.ts
  backend/src/modules/user/dto/download-users.filter.ts
  backend/src/modules/user/services/user.service.ts
  backend/src/modules/user/user.module.ts
  backend/src/shared/controllers/shared.controller.ts
  backend/src/shared/services/file-manager.service.ts
  backend/src/shared/services/s3-file-manager.service.ts
  backend/src/shared/shared.module.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegal.tsx
  frontend/src/pages/users/components/UserList/UserList.tsx
  frontend/src/services/user/User.queries.ts
  frontend/src/services/user/User.service.ts
Labels: back-end, enhancement :rocket:, front-end

#237 move terraform config from external repository
  terraform/.gitignore
  terraform/.terraform.lock.hcl
  terraform/amplify.tf
  terraform/amplify/amplify.yml
  terraform/app-runner.tf
  terraform/cognito.tf
  terraform/data.tf
  terraform/database.tf
  terraform/ec2.tf
  terraform/ecr.tf
  terraform/elasticache.tf
  terraform/iam.tf
  terraform/lambda.tf
  terraform/lambda/.gitignore
  terraform/lambda/amplify_login_create_auth_challenge/index.js
  terraform/lambda/amplify_login_custom_message/index.js
  terraform/lambda/amplify_login_define_auth_challenge/index.js
  terraform/lambda/amplify_login_verify_auth_challenge_response/index.js
  terraform/locals.tf
  terraform/networking.tf
  terraform/outputs.tf
  terraform/passwords.tf
  terraform/providers.tf
  terraform/s3.tf
  terraform/ui/custom.css
  terraform/ui/logo.png
  terraform/variables.tf
  terraform/versions.tf
Labels: devops

#235 fix: [C4R-875] lists would use the last currentPage on page leave and return
  frontend/src/components/data-table/DataTableComponent.tsx
  frontend/src/pages/application/components/ApplicationNGOList.tsx
  frontend/src/pages/apps-store/components/ApplicationListTable.tsx
  frontend/src/pages/apps-store/components/ApplicationRequests.tsx
  frontend/src/pages/civic-center-service/feedback/FeedbackList.tsx
  frontend/src/pages/organization/Organizations.tsx
  frontend/src/pages/requests/components/RequestList.tsx
  frontend/src/pages/users/components/UserList/UserList.tsx
Labels: bug :bug:, front-end

#231 fix: [C4R-1078] order practice programs by creation date in descending order
  backend/src/common/base/base-dao.class.ts
  backend/src/modules/practice-program/services/practice-program.service.ts
Labels: back-end, bug :bug:

#228 Bugfix[C4R-946] Refactor request organization
  backend/src/modules/notifications/constants/errors.constants.ts
  backend/src/modules/notifications/constants/events.contants.ts
  backend/src/modules/notifications/events/approve-ong-request-event.class.ts
  backend/src/modules/notifications/events/create-ong-request-event.class.ts
  backend/src/modules/notifications/events/disable-ong-request-event.class.ts
  backend/src/modules/notifications/events/reject-ong-request-event.class.ts
  backend/src/modules/notifications/services/notifications.service.ts
  backend/src/modules/organization/services/organization-request.service.ts
Labels: back-end

#232 Bugfix[C4R-1084][C4R-1085] Forbidden access for admin and employee on pp and cc requests
  backend/src/modules/application/constants/application-error.constants.ts
  backend/src/modules/application/guards/civic-center-service-access.guard.ts
  backend/src/modules/application/guards/practice-program-access.guard.ts
  backend/src/modules/application/services/ong-application.service.ts
  backend/src/modules/civic-center-service/civic-center.module.ts
  backend/src/modules/civic-center-service/controllers/civic-center.controller.ts
  backend/src/modules/civic-center-service/controllers/feedback.controller.ts
  backend/src/modules/practice-program/controllers/practice-program.controller.ts
  backend/src/modules/practice-program/practice-program.module.ts
  frontend/src/services/API.ts
Labels: back-end

#238 fix: [C4R-1115] description field not accepting special characters
  backend/src/modules/civic-center-service/dto/create-civic-center-service.dto.ts
  backend/src/modules/practice-program/dto/create-practice-program.dto.ts
  frontend/src/pages/civic-center-service/config/CivicCenterFormConfig.ts
  frontend/src/pages/pactice-program/config/PracticeProgramFormConfig.ts
Labels: back-end, bug :bug:, front-end

#236 fix: [C4R-1100] certain fields in org general could not be emptied
  backend/src/common/constants/patterns.constant.ts
  backend/src/modules/organization/dto/create-organization-general.dto.ts
  frontend/src/common/helpers/format.helper.ts
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneralConfig.ts
Labels: back-end, bug :bug:, front-end

#234 fix: [C4R-1072] added decimal validation for working hours for practice program
  frontend/src/assets/locales/ro/translation.json
  frontend/src/pages/organization/components/OrganizationData/components/ReportSummayConfig.ts
  frontend/src/pages/pactice-program/config/PracticeProgramFormConfig.ts
Labels: bug :bug:, front-end

#242 [C4R-1118] add missing application id condition on employee findOne query
  backend/src/modules/application/services/application.service.ts
Labels: bug :bug:

#240 Bugfix[C4R-1125] The selected option is not taken into account when submit create org form
  frontend/src/common/helpers/format.helper.ts
  frontend/src/pages/create-organziation/components/CreateOrganizationActivity.tsx
  frontend/src/pages/organization/components/OrganizationActivity/OrganizationActivity.tsx
  frontend/src/services/organization/Organization.helper.ts
Labels: bug :bug:, front-end

#247 Bugfix: Organization logo and statute issues
  backend/src/modules/organization/constants/errors.constants.ts
  backend/src/modules/organization/controllers/organization.controller.ts
  backend/src/modules/organization/dto/create-organization-general.dto.ts
  backend/src/modules/organization/services/organization-general.service.ts
  backend/src/modules/organization/services/organization-legal.service.ts
  backend/src/modules/organization/services/organization.service.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/error.constants.ts
  frontend/src/common/constants/file.constants.ts
  frontend/src/components/data-table/LoadingContent.tsx
  frontend/src/components/spinner/Spinner.tsx
  frontend/src/pages/apps-store/components/ApplicationForm.tsx
  frontend/src/pages/create-organziation/components/CreateOrganizationGeneral.tsx
  frontend/src/pages/create-organziation/components/CreateOrganizationLegal.tsx
  frontend/src/pages/organization/components/OrganizationData/OrganizationData.tsx
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegal.tsx
  frontend/src/services/organization/Organization.queries.ts
  frontend/src/services/organization/Organization.service.ts
Labels: bug :bug:

#250 fix: [C4R-1060] added word break to input field
  frontend/src/components/InputField/InputField.tsx
Labels: bug :bug:, front-end

#248 feat: [C4R-1156] validated mail notifications and templates
  backend/.env.example
  backend/src/env.validation.ts
  backend/src/mail/constants/template.constants.ts
  backend/src/modules/_publicAPI/controllers/public-api.controller.ts
  backend/src/modules/notifications/constants/errors.constants.ts
  backend/src/modules/notifications/constants/events.contants.ts
  backend/src/modules/notifications/events/restrict-ong-event.class.ts
  backend/src/modules/notifications/services/notifications.service.ts
  backend/src/modules/organization/services/organization.service.ts
Labels: back-end, enhancement :rocket:

#245 fix: [C4R-1351] moved the feedback creation to public API
  backend/src/modules/_publicAPI/controllers/civic-center-public.controller.ts
  backend/src/modules/civic-center-service/civic-center.module.ts
  backend/src/modules/civic-center-service/controllers/feedback.controller.ts
  backend/src/modules/civic-center-service/dto/create-feedback.dto.ts
  backend/src/modules/civic-center-service/services/feedback.service.ts
Labels: back-end, bug :bug:

#243 fix: [C4R-1128] added unicity validation on certain NGO general fields
  backend/src/modules/organization/constants/errors.constants.ts
  backend/src/modules/organization/services/organization-general.service.ts
  backend/src/modules/organization/services/organization.service.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/error.constants.ts
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
Labels: back-end, bug :bug:, front-end

#251 fix: [C4R-1041] updated invited user list field searchability
  backend/src/modules/user/constants/invites-filters.config.ts
  backend/src/modules/user/services/user.service.ts
  frontend/src/pages/users/components/UserInvites/UserInvites.tsx
  frontend/src/services/user/User.queries.ts
  frontend/src/services/user/User.service.ts
Labels: back-end, bug :bug:, front-end

#244 fix: [C4R-1088] added gap between button on delete modal
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/confim-removal-modal/ConfirmationModal.tsx
  frontend/src/index.css
  frontend/src/pages/create-organziation/components/CreateOrganizationLegal.tsx
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegal.tsx
  frontend/src/pages/organization/components/OrganizationLegal/components/DeleteRowConfirmationModal.tsx
Labels: bug :bug:, front-end

#254 fix: [C4R-1041] refactor invited user list, used pending status to get the list
  backend/src/modules/authentication/jwt.strategy.ts
  backend/src/modules/statistics/services/statistics.service.ts
  backend/src/modules/user/services/cognito.service.ts
  backend/src/modules/user/services/user.service.ts
Labels: back-end, bug :bug:

#252 fix: [C4R-1259] updated validations for feedback and mail contact dtos
  backend/src/modules/_publicAPI/dto/contact-mail.dto.ts
  backend/src/modules/civic-center-service/dto/create-feedback.dto.ts
Labels: bug :bug:, front-end

#255 fix: [C4R-1371] made descriptions optional for the 3 types of access
  backend/src/modules/civic-center-service/dto/create-civic-center-service.dto.ts
  backend/src/modules/civic-center-service/services/civic-center.service.ts
  frontend/src/pages/civic-center-service/config/CivicCenterFormConfig.ts
Labels: back-end, bug :bug:, front-end

#253 [Bugfix] Search Practice programs fixes
  backend/src/common/base/base-dao.class.ts
  backend/src/common/constants/date.constants.ts
  backend/src/modules/practice-program/constants/parsers.constants.ts
  backend/src/modules/practice-program/services/practice-program.service.ts
  backend/src/shared/services/nomenclatures.service.ts
Labels: bug :bug:

#257 fix: [C4R-1401] find one service/program only gets active items
  backend/src/modules/civic-center-service/services/civic-center.service.ts
  backend/src/modules/practice-program/services/practice-program.service.ts
Labels: back-end, bug :bug:

#260 fix: [C4R-952] fixed counters for admin and super admin dashboard
  backend/src/modules/statistics/services/statistics.service.ts
Labels: back-end, bug :bug:

#261 bugfix/C4R-1359
  frontend/src/pages/civic-center-service/components/CivicCenterServiceContent.tsx
Labels: bug :bug:, front-end

#262 C4R-1061 - Fixed chip overflow
  frontend/src/components/chip-selection/ChipSelection.tsx
Labels: bug :bug:, front-end

#263 C4R-1198 - Fixed dashboard layout
  frontend/src/components/Header/Header.tsx
  frontend/src/containers/Layout.tsx
  frontend/src/pages/dashboard/Dashboard.tsx
Labels: bug :bug:, front-end

#266 fix: [C4R-1469] ordered services and programs by date in DESC order, updated translations
  backend/src/modules/civic-center-service/services/civic-center.service.ts
  backend/src/modules/practice-program/services/practice-program.service.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/pages/civic-center-service/config/CivicCenterFormConfig.ts
Labels: back-end, bug :bug:, front-end

#259 fix: [C4R-1372, C4R-1377] reset access fields when disabling access type
  backend/src/modules/civic-center-service/constants/errors.constants.ts
  backend/src/modules/civic-center-service/services/civic-center.service.ts
  backend/src/shared/services/nomenclatures.service.ts
  frontend/src/pages/civic-center-service/CreateCivicCenterService.tsx
  frontend/src/pages/civic-center-service/EditCivicCenterService.tsx
  frontend/src/pages/civic-center-service/components/CivicCenterForm.tsx
  frontend/src/services/civic-center-service/interfaces/civic-center-service-payload.interface.ts
Labels: back-end, bug :bug:, front-end

#267 C4R-1363 - Changed rich text to 1000 max characters and error message
  frontend/src/assets/locales/ro/translation.json
  frontend/src/pages/civic-center-service/config/CivicCenterFormConfig.ts
Labels: bug :bug:, front-end

#269 C4R-1059 - Fixed input sizing on mobile if not focused and on error
  frontend/src/components/InputField/InputField.tsx
  frontend/src/pages/organization/components/OrganizationFinancial/components/ExpenseReportModal.tsx
  frontend/src/pages/organization/components/OrganizationFinancial/components/IncomeReportModal.tsx
Labels: bug :bug:, front-end

#268 Bugfix/C4R-1367 - Improper display of service card information
  frontend/src/components/chip-selection/ChipSelection.tsx
  frontend/src/components/status-radio/StatusRadio.tsx
  frontend/src/index.css
  frontend/src/pages/civic-center-service/components/CivicCenterServiceContent.tsx
Labels: bug :bug:, front-end

#264 fix: [C4R-1209] contact person for an ong is now jsonb instead of secondary entity
  backend/src/migrations/1672232907420-DropContact.ts
  backend/src/modules/organization/dto/create-organization-general.dto.ts
  backend/src/modules/organization/dto/update-organization-general.dto.ts
  backend/src/modules/organization/entities/contact.entity.ts
  backend/src/modules/organization/entities/organization-general.entity.ts
  backend/src/modules/organization/interfaces/OrganizationWithPracticePrograms.interface.ts
  backend/src/modules/organization/interfaces/OrganizationWithServices.interface.ts
  backend/src/modules/organization/interfaces/contact-person.interface.ts
  backend/src/modules/organization/services/organization-general.service.ts
  backend/src/modules/organization/services/organization-request.service.ts
  backend/src/modules/organization/services/organization.service.ts
  frontend/src/pages/create-organziation/components/CreateOrganizationGeneral.tsx
  frontend/src/pages/create-organziation/interfaces/CreateOrganization.interface.ts
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
  frontend/src/pages/organization/interfaces/ContactPerson.interface.ts
  frontend/src/pages/organization/interfaces/OrganizationGeneral.interface.ts
  frontend/src/services/organization/Organization.service.ts
  frontend/src/services/organization/OrganizationFormDataMapper.service.ts
  frontend/src/services/request/Request.service.ts
Labels: back-end, bug :bug:, front-end

#271 fix: [C4R-1519] organization request would not be sent due to contact being undefined
  frontend/src/AuthProvider.tsx
  frontend/src/pages/create-organziation/components/CreateOrganizationActivity.tsx
  frontend/src/services/organization/OrganizationFormDataMapper.service.ts
Labels: bug :bug:, front-end, high-priority :fire:
