Repository code4romania/onghub, pull requests merged in 2022-08, with the labels that each got.

#35 fixes: NGO Legal bug fixes
  backend/src/common/constants/patterns.constant.ts
  backend/src/modules/application/dto/create-application.dto.ts
  backend/src/modules/organization/dto/create-organization-general.dto.ts
  backend/src/modules/organization/dto/person.dto.ts
  frontend/src/common/helpers/format.helper.ts
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneralConfig.ts
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegalConfig.ts
  frontend/src/pages/organization/components/OrganizationLegal/components/DirectorConfig.ts
Labels: back-end, front-end

#36 feat: [C4R-334] backend now uses only one logger
  backend/src/libs/bull-board.ts
  backend/src/modules/user/services/user.service.ts
Labels: back-end, enhancement :rocket:

#34 fixes: bug fixes for NGO General
  backend/src/common/constants/patterns.constant.ts
  backend/src/modules/organization/dto/create-organization-general.dto.ts
  backend/src/modules/organization/enums/organization-type.enum.ts
  frontend/src/common/helpers/format.helper.ts
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneralConfig.ts
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegalConfig.ts
  frontend/src/pages/organization/components/OrganizationLegal/components/DirectorConfig.ts
  frontend/src/pages/organization/enums/OrganizationType.enum.ts
Labels: back-end, front-end

#38 feat[C4R-350] Request Organization from User Profile
  frontend/src/pages/organization/Organization.tsx
  frontend/src/pages/organization/components/OrganizationActivity/OrganizationActivity.tsx
  frontend/src/pages/organization/components/OrganizationFinancial/OrganizationFinancial.tsx
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegal.tsx
  frontend/src/pages/organization/enums/OrganizationStatus.enum.ts
  frontend/src/pages/organization/interfaces/Organization.interface.ts
  frontend/src/pages/users/enums/UserStatus.enum.ts
  frontend/src/pages/users/interfaces/User.interface.ts
  frontend/src/services/organization/Organization.queries.ts
  frontend/src/services/user/User.queries.ts
  frontend/src/store/organization/organization.selectors.ts
  frontend/src/store/organization/organization.slice.ts
  frontend/src/store/store.ts
  frontend/src/store/user/User.slice.ts
Labels: enhancement :rocket:, front-end

#37 fixes: [C4R-344] fixed data being saved on delete
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegal.tsx
Labels: front-end

#39 fix[C4R-335] Hidden Popover on Data Table
  frontend/src/components/data-table/DataTableComponent.tsx
  frontend/src/components/popover-menu/PopoverMenu.tsx
  frontend/src/index.css
Labels: bug :bug:, front-end

#33 feat[C4R-285] Organization Profile File Management
  backend/.env.example
  backend/data/dummy_data_nomenclatoare.pgsql
  backend/package-lock.json
  backend/package.json
  backend/src/env.validation.ts
  backend/src/modules/organization/constants/errors.constants.ts
  backend/src/modules/organization/constants/files.constants.ts
  backend/src/modules/organization/dto/create-organization-general.dto.ts
  backend/src/modules/organization/dto/create-organization-legal.dto.ts
  backend/src/modules/organization/dto/update-organization-legal.dto.ts
  backend/src/modules/organization/dto/update-organization-report.dto.ts
  backend/src/modules/organization/entities/investor.entity.ts
  backend/src/modules/organization/entities/partner.entity.ts
  backend/src/modules/organization/models/organization-files.interface.ts
  backend/src/modules/organization/organization.controller.ts
  backend/src/modules/organization/organization.module.ts
  backend/src/modules/organization/repositories/index.ts
  backend/src/modules/organization/repositories/investor.repository.ts
  backend/src/modules/organization/repositories/partner.repository.ts
  backend/src/modules/organization/services/index.ts
  backend/src/modules/organization/services/investor.service.ts
  backend/src/modules/organization/services/organization-activity.service.ts
  backend/src/modules/organization/services/organization-financial.service.ts
  backend/src/modules/organization/services/organization-legal.service.ts
  backend/src/modules/organization/services/organization-report.service.ts
  backend/src/modules/organization/services/organization.service.ts
  backend/src/modules/organization/services/partner.service.ts
  backend/src/modules/user/services/user.service.ts
  backend/src/shared/constants/file.constants.ts
  backend/src/shared/constants/nomenclature-error.constants.ts
  backend/src/shared/controllers/shared.controller.ts
  backend/src/shared/services/file-manager.service.ts
  backend/src/shared/services/nomenclatures.service.ts
  backend/src/shared/shared.module.ts
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/helpers/format.helper.ts
  frontend/src/common/helpers/utils.helper.ts
  frontend/src/components/popover-menu/PopoverMenu.tsx
  frontend/src/pages/organization/components/OrganizationActivity/OrganizationActivity.tsx
  frontend/src/pages/organization/components/OrganizationData/OrganizationData.tsx
  frontend/src/pages/organization/components/OrganizationData/components/ReportSummaryModal.tsx
  frontend/src/pages/organization/components/OrganizationData/table-headers/InvestorTable.headers.tsx
  frontend/src/pages/organization/components/OrganizationData/table-headers/PartnerTable.headers.tsx
  frontend/src/pages/organization/components/OrganizationData/table-headers/ReportsTable.headers.tsx
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegal.tsx
  frontend/src/pages/organization/interfaces/Investor.interface.ts
  frontend/src/pages/organization/interfaces/OrganizationGeneral.interface.ts
  frontend/src/pages/organization/interfaces/OrganizationLegal.interface.ts
  frontend/src/pages/organization/interfaces/OrganizationReport.interface.ts
  frontend/src/pages/organization/interfaces/Partner.interface.ts
  frontend/src/services/files/File.service.ts
  frontend/src/services/organization/Organization.queries.ts
  frontend/src/services/organization/Organization.service.ts
Labels: back-end, enhancement :rocket:, front-end

#41 feat: [C4R-349] handle incorrect phone number
  backend/package-lock.json
  backend/package.json
  backend/src/common/constants/error-common.constants.ts
  backend/src/common/constants/patterns.constant.ts
  backend/src/common/decorators/validation.decorator.ts
  backend/src/common/helpers/validate-phone.rule.ts
  backend/src/libs/bull-board.ts
  backend/src/modules/organization/dto/create-contact.dto.ts
  backend/src/modules/organization/dto/create-organization-general.dto.ts
  backend/src/modules/user/dto/create-user.dto.ts
  frontend/src/common/helpers/format.helper.ts
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneralConfig.ts
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegalConfig.ts
  frontend/src/pages/organization/components/OrganizationLegal/components/DirectorConfig.ts
Labels: back-end, enhancement :rocket:, front-end

#43 feat: [C4R-285] updated swagger for upload
  backend/package-lock.json
  backend/src/modules/organization/constants/open-api.schema.ts
  backend/src/modules/organization/models/organization-files.interface.ts
  backend/src/modules/organization/organization.controller.ts
  backend/src/modules/organization/services/organization.service.ts
Labels: back-end, enhancement :rocket:

#44 feat: [C4R-352] added missing swagger decorators
  backend/src/modules/application/application.controller.ts
  backend/src/modules/organization/organization.controller.ts
  backend/src/modules/user/services/user.service.ts
  backend/src/modules/user/user.controller.ts
  backend/src/shared/controllers/nomenclatures.controller.ts
  backend/src/shared/controllers/shared.controller.ts
Labels: back-end, documentation

#42 feat: [C4R-348] check if user already exists
  backend/package-lock.json
  backend/package.json
  backend/src/common/exceptions/filters/global-exception.filter.ts
  backend/src/common/exceptions/models/global-reponse-error.ts
  backend/src/modules/user/constants/user-error.constants.ts
  backend/src/modules/user/services/user.service.ts
Labels: back-end, enhancement :rocket:

#45 feature[C4R081] Add User
  backend/src/modules/user/admin-user.controller.ts
  backend/src/modules/user/dto/create-user.dto.ts
  backend/src/modules/user/entities/user.entity.ts
  backend/src/modules/user/services/user.service.ts
  frontend/src/AuthProvider.tsx
  frontend/src/common/router/Router.tsx
  frontend/src/components/card-panel/CardPanel.tsx
  frontend/src/components/content-wrapper/ContentWrapper.tsx
  frontend/src/index.css
  frontend/src/pages/organization/components/OrganizationActivity/OrganizationActivity.tsx
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneral.tsx
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegal.tsx
  frontend/src/pages/users/components/UserCreate.tsx
  frontend/src/pages/users/components/UserCreateConfig.ts
  frontend/src/pages/users/interfaces/UserPayload.interface.ts
  frontend/src/services/user/User.queries.ts
  frontend/src/services/user/User.service.ts
Labels: enhancement :rocket:, front-end

#48 fix: [C4R-369] longer texts overlap next field
  frontend/src/index.css
Labels: front-end

#46 fix: fixed some NGO Financial bugs
  backend/src/modules/organization/constants/values.constants.ts
  backend/src/modules/organization/dto/expense.dto.ts
  backend/src/modules/organization/dto/income.dto.ts
  frontend/src/pages/organization/components/OrganizationFinancial/components/ExpenseReportConfig.ts
  frontend/src/pages/organization/components/OrganizationFinancial/components/ExpenseReportModal.tsx
  frontend/src/pages/organization/components/OrganizationFinancial/components/IncomeReportConfig.ts
  frontend/src/pages/organization/components/OrganizationFinancial/components/IncomeReportModal.tsx
  frontend/src/pages/organization/constants/values.constants.tsx
Labels: back-end, front-end

#50 Feature[C4R-375] Users List
  backend/package-lock.json
  backend/package.json
  backend/src/common/base/base-dao.class.ts
  backend/src/common/base/base-filter.dto.ts
  backend/src/common/interfaces/pagination-meta.ts
  backend/src/common/interfaces/pagination.ts
  backend/src/modules/user/admin-user.controller.ts
  backend/src/modules/user/constants/user-filters.config.ts
  backend/src/modules/user/dto/user-filter.dto.ts
  backend/src/modules/user/profile.controller.ts
  backend/src/modules/user/services/user.service.ts
  backend/src/modules/user/user.module.ts
  frontend/src/AuthProvider.tsx
  frontend/src/common/config/pagination.config.ts
  frontend/src/common/enums/sort-direction.enum.ts
  frontend/src/common/interfaces/paginated-entity.interface.ts
  frontend/src/common/interfaces/tabs.interface.ts
  frontend/src/common/router/Router.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/content-wrapper/ContentWrapper.tsx
  frontend/src/components/data-table-filters/DataTableFilters.tsx
  frontend/src/pages/account/Account.tsx
  frontend/src/pages/organization/Organization.tsx
  frontend/src/pages/organization/constants/Tabs.constants.tsx
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/users/components/UserCreate/UserCreate.tsx
  frontend/src/pages/users/components/UserCreate/UserCreateConfig.ts
  frontend/src/pages/users/components/UserInvites/UserInvites.tsx
  frontend/src/pages/users/components/UserList/UserList.tsx
  frontend/src/pages/users/components/UserList/table-headers/UserListTable.headers.tsx
  frontend/src/pages/users/constants/Tabs.constants.ts
  frontend/src/services/user/User.queries.ts
  frontend/src/services/user/User.service.ts
  frontend/src/store/store.ts
  frontend/src/store/user/Profile.slice.ts
  frontend/src/store/user/User.selectors.ts
  frontend/src/store/user/User.slice.ts
  frontend/src/store/user/Users.slice.ts
Labels: back-end, enhancement :rocket:, front-end

#53 refactor: changed phone regex on FE
  frontend/src/common/helpers/format.helper.ts
Labels: front-end

#49 fix: NGO Activity
  backend/package-lock.json
  backend/src/modules/organization/services/organization.service.ts
  backend/src/shared/controllers/nomenclatures.controller.ts
  backend/src/shared/services/nomenclatures.service.ts
  frontend/src/pages/organization/components/OrganizationActivity/OrganizationActivityConfig.ts
Labels: back-end, front-end

#55 Feature[C4R-384] User Filters
  backend/src/common/base/base-dao.class.ts
  backend/src/modules/user/constants/user-filters.config.ts
  backend/src/modules/user/dto/user-filter.dto.ts
  backend/src/modules/user/services/user.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Select/Select.tsx
  frontend/src/components/data-table-filters/DataTableFilters.tsx
  frontend/src/components/date-range-picker/DateRangePicker.tsx
  frontend/src/pages/users/components/UserList/UserList.tsx
  frontend/src/pages/users/constants/filters.constants.ts
  frontend/src/services/user/User.queries.ts
  frontend/src/services/user/User.service.ts
  frontend/tailwind.config.js
Labels: back-end, enhancement :rocket:, front-end

#59 fix: some ngo general bug fixes
  backend/package-lock.json
  backend/package.json
  backend/src/modules/organization/dto/create-organization-general.dto.ts
  frontend/src/common/helpers/format.helper.ts
  frontend/src/pages/organization/components/OrganizationGeneral/OrganizationGeneralConfig.ts
Labels: back-end, front-end

#61 C4R-391 - Requests
  backend/src/common/base/base-dao.class.ts
  backend/src/modules/requests/constants/request-filters.config.ts
  backend/src/modules/requests/constants/requests-errors.constants.ts
  backend/src/modules/requests/entities/request.entity.ts
  backend/src/modules/requests/requests.controller.ts
  backend/src/modules/requests/services/requests.service.ts
  backend/src/modules/user/constants/user-error.constants.ts
  backend/src/modules/user/entities/user.entity.ts
  frontend/src/common/router/Router.tsx
  frontend/src/common/router/Routes.constants.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/confim-removal-modal/ConfirmRemovalModal.tsx
  frontend/src/components/popover-menu/PopoverMenu.tsx
  frontend/src/pages/create-organziation/components/CreateOrganizationLegal.tsx
  frontend/src/pages/login/Login.tsx
  frontend/src/pages/organization/Organization.tsx
  frontend/src/pages/organization/components/OrganizationData/OrganizationData.tsx
  frontend/src/pages/organization/components/OrganizationLegal/OrganizationLegal.tsx
  frontend/src/pages/organization/components/OrganizationLegal/components/OtherConfig.ts
  frontend/src/pages/organization/interfaces/Organization.interface.ts
  frontend/src/pages/requests/Requests.tsx
  frontend/src/pages/requests/components/Request.tsx
  frontend/src/pages/requests/components/RequestList.headers.tsx
  frontend/src/pages/requests/components/RequestList.tsx
  frontend/src/pages/requests/constants/Request.modals.ts
  frontend/src/pages/requests/constants/RequestStatus.constants.ts
  frontend/src/pages/requests/enum/RequestStatus.enum.ts
  frontend/src/pages/requests/interfaces/Request.interface.ts
  frontend/src/pages/users/components/UserList/UserList.tsx
  frontend/src/services/organization/Organization.queries.ts
  frontend/src/services/request/Request.queries.ts
  frontend/src/services/request/Request.service.ts
  frontend/src/services/request/interfaces/Request.interface.ts
  frontend/src/store/request/Requests.selectors.ts
  frontend/src/store/request/Requests.slice.ts
  frontend/src/store/selectors.ts
  frontend/src/store/store.ts
Labels: enhancement :rocket:

#57 fixes: NGO Open Data
  backend/src/modules/organization/constants/values.constants.ts
  backend/src/modules/organization/dto/update-organization-report.dto.ts
  backend/src/modules/organization/services/organization-report.service.ts
  frontend/package-lock.json
  frontend/src/common/helpers/format.helper.ts
  frontend/src/pages/organization/components/OrganizationData/OrganizationData.tsx
  frontend/src/pages/organization/components/OrganizationData/components/ReportSummaryModal.tsx
  frontend/src/pages/organization/components/OrganizationData/components/ReportSummayConfig.ts
  frontend/src/pages/organization/constants/values.constants.tsx
Labels: back-end, front-end

#66 Feature[C4R-92] Update cognito user data
  backend/src/modules/user/services/cognito.service.ts
  backend/src/modules/user/services/user.service.ts
  frontend/src/components/Select/Select.tsx
  frontend/src/components/date-range-picker/DateRangePicker.tsx
  frontend/src/services/request/Request.queries.ts
  frontend/src/services/user/User.queries.ts
Labels: back-end, enhancement :rocket:, front-end

#65 Feature[C4R-93] Restrict temporary user access
  frontend/src/AuthProvider.tsx
  frontend/src/assets/images/Wavy_Tech-08_Single-04 modified 1.svg
  frontend/src/common/guards/AuthGuards.tsx
  frontend/src/common/router/Router.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/login/Login.tsx
  frontend/src/pages/restricted-account/RestrictedAccount.tsx
  frontend/src/services/API.ts
  frontend/tailwind.config.js
Labels: enhancement :rocket:, front-end

#62 feat: [C4R-462] add confirmation modals for approve and reject requests
  frontend/src/components/confim-removal-modal/ConfirmationModal.tsx
  frontend/src/index.css
  frontend/src/pages/account/Account.tsx
  frontend/src/pages/requests/components/Request.tsx
  frontend/src/pages/requests/components/RequestList.tsx
  frontend/src/pages/requests/constants/Request.modals.ts
  frontend/src/pages/users/components/UserList/UserList.tsx
Labels: enhancement :rocket:

#69 fix: [C4R-342] selected tab remains in same state
  frontend/src/pages/organization/Organization.tsx
Labels: front-end

#67 fix: invalid phone number, form skipping
  frontend/src/pages/create-organziation/components/ProgressSteps.tsx
  frontend/src/pages/create-organziation/configs/CreateOrganizationUserConfig.ts
Labels: front-end

#63 feat: [C4R-467] ONG List
  backend/src/common/base/base-dao.class.ts
  backend/src/common/helpers/operator-to-function.map.ts
  backend/src/common/interfaces/pagination-config.ts
  backend/src/modules/organization/constants/organization-filter.config.ts
  backend/src/modules/organization/dto/organization-filter.dto.ts
  backend/src/modules/organization/entities/index.ts
  backend/src/modules/organization/entities/organization.entity.ts
  backend/src/modules/organization/entities/organization.view-entity.ts
  backend/src/modules/organization/enums/organization-status.enum.ts
  backend/src/modules/organization/organization.controller.ts
  backend/src/modules/organization/organization.module.ts
  backend/src/modules/organization/repositories/index.ts
  backend/src/modules/organization/repositories/organization-view.repository.ts
  backend/src/modules/organization/services/organization.service.ts
  backend/src/modules/user/services/user.service.ts
  frontend/src/common/router/Router.tsx
  frontend/src/common/router/Routes.constants.ts
  frontend/src/components/content-wrapper/ContentWrapper.tsx
  frontend/src/pages/organization/Organizations.tsx
  frontend/src/pages/organization/constants/filters.constants.ts
  frontend/src/pages/organization/interfaces/Organization.interface.ts
  frontend/src/pages/organization/table-headers/OrganizationsTable.headers.tsx
  frontend/src/pages/requests/Requests.tsx
  frontend/src/pages/requests/components/Request.tsx
  frontend/src/pages/requests/components/RequestList.tsx
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/users/components/UserCreate/UserCreate.tsx
  frontend/src/pages/users/components/UserEdit/UserEdit.tsx
  frontend/src/services/organization/Organization.queries.ts
  frontend/src/services/organization/Organization.service.ts
  frontend/src/store/organization/organization.selectors.ts
  frontend/src/store/organization/organizations.slice.ts
  frontend/src/store/store.ts
Labels: back-end, enhancement :rocket:

#72 fix: [C4R-497] removed ')' from user name
  frontend/src/pages/account/Account.tsx
Labels: front-end

#71 refactor: [C4R-342] someone forgot to add a value
  frontend/src/pages/organization/constants/Tabs.constants.tsx
Labels: enhancement :rocket:
